


<!DOCTYPE html>
<html lang="en">
<!-- define a block for the head section-->
<head>

        {% block head %}

    <meta charset="UTF-8">
        {% block styles %}

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/css/bootstrap.min.css"  />
    {% endblock %}

    <title>Title</title>
        {% endblock %}
  <!-- Include the jQuery library -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <!-- Include the Select2 library -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
  <!-- Include the Select2 CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">
</head>
<!-- define a block for the body section-->

<body>
{% block content %}
<div class="container text-justify">
    <div>

<h3>Adja meg a széria számot</h3>
<form action="/set" method="post">
      <input id="set_num" placeholder="21241-1 / 077-1" name="set_num">
      <input class="btn btn-outline-secondary" type="submit" value="Keresés">
</form>



        {% if error %}
        <div class="alert alert-danger" style="width : 20.3%" role="alert">
  {{ error }}
    </div>
        {% endif %}
    </div>

<div>
<!--     check if the set_name variable is exists-->
    {% if set_name  %}
<!--    render the table with lego set information-->
    <p>Erre a set-re gondoltál:</p>

<table class="table" style="width: 500px; ">
  <thead>
    <tr>
      <td ><h5>Erre a set-re gondoltál?</h5></td>

    </tr>
  </thead>
  <tbody>
    <tr>
      <td rowspan="2" ><img src= "{{image}}" style="width: 250px"></td>
        <td style="width: 250px" ><h4>{{ set_name }}</h4>
            <p>{{ set_num }}</p>
        <p>{{ set_year }}</p>
        </td>

    </tr>
    <tr>
      <td><a class="btn btn-outline-secondary " href="{{ url_for('search_jofogas', set_num=set_num, set_name=set_name) }}" role="button" >Folytatás</a></td>
    </tr>
  </tbody>
</table>


    {% else %}

    {% endif %}
{% endblock content %}
    </div>
    </div>


</body>
</html>