<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Adja meg a széria számot</h1>
<form action="/set" method="post">
      <label for="set_num">Set num: </label>
      <input id="set_num" placeholder="21241-1 / 077-1" name="set_num">
      <input type="submit" value="Submit">
</form>

{% block content %}
    {% if set==""%}
    {% else %}
<p>Erre a set-re gondoltál:</p>

<p>{{ set }}</p>
    {% endif %}
{% endblock content %}
</body>
</html>